form p label {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 418px;
}

input[type='text'], input[type='email'], textarea {
  background-color: inherit;
  border: 2px solid;
  box-sizing: border-box;
  color: #3d3d3d;
  line-height: 1.25;
  padding: 2px 5px;
  width: 320px;
}

textarea {
  height: 7.3rem;
  resize: vertical;
}

.submitP {
  max-width: 418px;
}

button[type='submit'] {
  background: transparent;
  border: 2px solid;
  color: #3d3d3d;
  float: right;
  font-weight: 600;
  padding: 3px 11px;
}
