form p label {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 418px;
}

.messageLabel {
  align-items: start;
}

.labelText {
  margin-right: 2px;
  width: 5.4375rem;
}

input[type='text'], input[type='email'], textarea {
  background-color: inherit;
  border: 2px solid;
  box-sizing: border-box;
  color: #3d3d3d;
  line-height: 1.25;
  padding: 2px 5px;
  width: 320px;
}

@media screen and (max-width: 424px) {
  input[type='text'], input[type='email'], textarea {
    width: 100%;
  }

  .labelText {
    margin: 0 0 1px 0;
  }
}

textarea {
  height: 7.3rem;
  resize: vertical;
}

.submitP {
  max-width: 418px;
}

button[type='submit'] {
  background: transparent;
  border: 2px solid;
  color: #3d3d3d;
  float: right;
  padding: 3px 13px;
}
