@font-face {
  font-family: 'Space Grotesk';
  src: url('../../fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
       url('../../fonts/SpaceGrotesk-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Vremena Grotesk';
  src: url('../../fonts/vremenagroteskbook-webfont.woff2') format('woff2'),
       url('../../fonts/vremenagroteskbook-webfont.woff') format('woff');
}

nav ul {
  padding-left: 0;
}

body {
  font-family: 'Vremena Grotesk';
  line-height: 1.25;
  padding: 0 8px;
}

h1, h2, h3, h4 {
	font-family: 'Space Grotesk';
	font-feature-settings: 'ss02','ss03','zero';
  font-weight: 700;
}
