/* Remove font-face rules AND FONTS when final font suite is determined */

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('../../fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
       url('../../fonts/cooperhewitt-book-webfont.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('../../fonts/cooperhewitt-semibold-webfont.woff2') format('woff2'),
       url('../../fonts/cooperhewitt-semibold-webfont.woff') format('woff');
  font-weight: 600;
}

body {
  color: #3d3d3d; /* Black Olive */
  font-family: 'Cooper Hewitt';
  /*font-feature-settings: 'zero';*/
  line-height: 1.25;
  font-size: 1.125rem;
  font-weight: 400;

  padding: 0 8px;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: inherit; /* Placeholder until color palette is set */
  /*opacity: 0.75;*/
}

body {
  transition: 0.5s;
}

.homeBG {
  background-color: #32ff7e; /* Spring Green */
}

.projectsBG {
  background-color: #7efff5; /* Electric Blue */
}

.aboutBG {
  background-color: #fff200; /* Yellow Rose */
}

.contactBG {
  background-color: #ffb8b8; /* Melon */
}

.navList {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 0.5013rem 0;
  padding-left: 0;
}

.navList li:not(:last-child) {
  padding-right: 0.625rem;
}

h1, h2, h3, h4 {
	/*font-feature-settings: 'ss02','ss03';*/
  margin: 0;
}

h1, h2 {
  font-size: 2.25rem;
  font-weight: 600;
}

h3, h4 {
  font-size: 1.125rem;
  font-weight: inherit;
}

p {
  /*font-family: 'Vremena Grotesk';*/
  font-weight: 400;
}

section {
  max-width: 560px;
}

.sectionTitle {
  margin-bottom: 0.8112rem;
}

.outerSection {
  margin-bottom: 1.3125rem;
}
